{% extends 'app/base.html' %}
{% load static %}
{% block title %}Empty Cart{% endblock title %}
{% block main-content %}
    <div class="container my-5">
        <div class="row">
            {% comment %} <h3 class="text-center">You have no Product in Your Cart</h3> {% endcomment %}
            <div class="alert alert-danger text-center fs-3" role="alert">
                You have no Product in Your Cart
              </div>
            <div class="text-center mt-5">
                <img src="{% static "app/images/emptycart.png" %}" alt="" class="img-fluid img-thumbnail w-25 border-0">
            </div>
        </div>
    </div>

    <div class="container my-5 text-center">
        <a href="/" class="btn btn-primary">Go To Home</a>
    </div>
    
{% endblock main-content %}


{% block footer %}
{% include "app/footer.html" %}
{% endblock footer %}