{% extends 'app/base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user|capfirst}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'orders' %}" class="btn btn-primary">Orders</a></li>
   </ul>
  </div><!-- 1st col closed -->

  <div class="col-sm-9 offset-sm-1">
   {% for op in order_placed %}
   <div class="row shadow-sm mb-3 p-2 pb-3">
    <div class="col-sm-2">
        <a href="{% url "product-detail" op.product.id %}">
            <img src="{{op.product.product_image.url}}" alt="" srcset="" class="img-fluid" height="150" width="150">
        </a>
    </div>
    <div class="col-sm-7">
        <p>Product id: {{op.product.id}}</p>
        <p>Product Title: {{op.product.title}}</p>
        <p>Quantity: {{op.quantity}}</p>
        <p>Price: {{op.total_cost}}</p>
        
        

        {% comment %} this code work for multiple order cancle {% endcomment %}

        {% if op.status == 'Accepted' or op.status == 'Packed' or op.status == 'Pending' %}
            <button type="button" class="btn btn-danger order-cancel-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-order-id="{{op.id}}">
                    Cancel
            </button>
        {% endif %}
        
        
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Cancel Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Do you really want to cancel the product?
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary confirm-cancel-btn">
                            Confirm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>  




    <div class="col-sm-3 fw-bold">
        <p>Order Status: {{op.status}}</p>
        {% if op.status == 'Accepted' %}
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        {% endif %}

        {% if op.status == 'Packed' %}
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        {% endif %}

        {% if op.status == 'On The Way' %}
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        {% endif %}

        {% if op.status == 'Delivered' %}
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        {% endif %}

        {% if op.status == 'Cancel' %}
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        {% endif %}
    </div>
   </div>
   {% endfor %}
  </div><!-- 2nd col closed -->
 </div><!-- row closed -->
</div><!-- container closed -->
{% endblock main-content %}


{% block footer %}
{% include "app/footer.html" %}
{% endblock footer %}